body {
    min-height: 75rem;
    padding-top: 4.5rem;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.player {
    width: 10%;
}

.card-img {
    -webkit-filter: opacity(30%);
    filter: opacity(30%);
}

.carousel-inner img {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}