html {
    position: relative;
    min-height: 100%;
}

main>.container {
    padding: 60px 15px 0;
}

.player {
    width: 10%;
}

.card-img {
    -webkit-filter: opacity(20%);
    filter: opacity(20%);
}

.carousel-inner img {
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    /* make all photos black and white */
    width: 100%;
    /* Set width to 100% */
    margin: auto;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}